@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body{
  background : #97F1D1;
  font-family:"Raleway";
  
}
.workarea {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.leftCol{
  padding: 10px;
  text-align:left;
  width:10%;
  display: inline-block;
}


.rightCol{
  padding: 8px;
  text-align:left;
  width:20%;
  vertical-align: middle;
 
}

.dropdownlabel{
  width:60%;
  text-align:left; 
  display:inline;
}

.radiolabel{
  width:60%;
  text-align:right; 
  display:block;
}

.radio{
  position: relative;
  left: 50px;
  margin-left: 10px;
  display: inline;
  padding-bottom: 10px;
}